

<h1 class="mt-5">Welcome to Meshgram</h1>
<p class="lead">Please Sign up or Sign in</p>

<%= link_to "Sign in", user_session_path, class: "btn btn-success"%>
<%= link_to "Sign up", new_user_registration_path, class: "btn btn-success"%>


        