



        <div class="card mb-3" >
  <div class="row no-gutters">
    <div class="col-md-5">
      <img width=800px height=500px src="https://shine365.marshfieldclinic.org/wp-content/uploads/2017/08/laughing-is-good-for-the-body-GettyImages-536664974-inside.jpg" class="card-img" alt="...">
    </div>
    <div class="col-md-7">
      <div class="card-body">
        <h5 class="card-title"><span class="home_title">Welcome to Meshgram</span></h5>
        <hr>
        <p class="card-text">Connect with friends and the world around you on Meshgram.</p>
        <ul>
        <li>See photos and updates from your friends</li>
        <li>Share what's new in your life</li>
        </ul>
             <hr>
                <p class="lead">Please Sign up or Sign in</p>
                <%= link_to "Sign in", user_session_path, class: "btn btn-success"%>
                <%= link_to "Sign up", new_user_registration_path, class: "btn btn-success"%>
      </div>
    </div>
  </div>
</div>





