// Place all the styles related to the Images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.name-pic{
    text-align: left;
    padding: 10px;
    color:black;
}
.imag{
    width: 200;
    height: 200;
    text-decoration: none;
}
.profil_name{
    color: black;
    margin-top: 10px;
}
.home_title{
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    font-weight: bold;
}
